@import "./node_modules/milligram/dist/milligram.min.css";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", Meiryo, Helvetica, Arial, sans-serif !important;
}
html {
  height: 100%;
}
body {
  height: 100%;
  position: relative;
}

.modal {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.modal > .modal-content {
  max-width: 640px;
}
.modal.enabled {
  display: flex;
  transition: 0.1s opacity ease-out;
  opacity: 0;
}
.modal.enabled.active {
  transition: 0.3s opacity ease-out;
  opacity: 1;
}

.buttons a.button,
.buttons button {
  margin-right: 0.7rem;
}
.buttons a.button:last-child,
.buttons button:last-child {
  margin-right: 2px;
}
a.button:hover,
button:hover {
  box-shadow: 1px 1px 3px #999;
}
